# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Environment variables
.env

# Databases
*.db
*.sqlite3

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/
